.ad {
  display: inline-block;
  padding: .5em;
  background-image: image("overback.jpg");
  border-radius: .4em;
  -webkit-box-shadow: inset 0 0 3em #999;
          box-shadow: inset 0 0 3em #999;
  overflow: hidden;
  width: 50em;
  height: 5em;
  white-space: nowrap;
  background-color: white;
}

.innihald {
  display: inline;
}

.body {
  background-color: black;
}

#logo {
  position: relative;
  -webkit-animation: logo 5000ms infinite;
          animation: logo 5000ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes logo {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes logo {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.join {
  position: relative;
  -webkit-animation: kvikun 20s infinite;
          animation: kvikun 20s infinite;
}

@-webkit-keyframes kvikun {
  0% {
    left: 0;
    top: -4em;
  }
  10% {
    left: -23em;
    top: -11em;
  }
  20% {
    left: 24em;
    top: -11em;
  }
  50% {
    left: 24em;
    top: -14em;
  }
  100% {
    left: 24em;
    top: -9em;
  }
}

@keyframes kvikun {
  0% {
    left: 0;
    top: -4em;
  }
  10% {
    left: -23em;
    top: -11em;
  }
  20% {
    left: 24em;
    top: -11em;
  }
  50% {
    left: 24em;
    top: -14em;
  }
  100% {
    left: 24em;
    top: -9em;
  }
}

.logoTexti {
  -webkit-animation: logoTexti 50s infinite;
          animation: logoTexti 50s infinite;
  position: relative;
}

@-webkit-keyframes logoTexti {
  0% {
    left: 4em;
    top: -15em;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    left: 15em;
    top: -9em;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  100% {
    left: 15em;
    top: -9em;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes logoTexti {
  0% {
    left: 4em;
    top: -15em;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    left: 15em;
    top: -9em;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  100% {
    left: 15em;
    top: -9em;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#texti {
  position: relative;
  -webkit-animation: texti 20s infinite;
          animation: texti 20s infinite;
}

@-webkit-keyframes texti {
  0% {
    left: 23em;
    top: -5em;
  }
  10% {
    left: 35em;
    top: -5em;
  }
  20% {
    left: 4.5em;
    top: -4em;
  }
  50% {
    left: 4.5em;
    top: -3em;
  }
  100% {
    left: 4.5em;
    top: -4em;
  }
}

@keyframes texti {
  0% {
    left: 23em;
    top: -5em;
  }
  10% {
    left: 35em;
    top: -5em;
  }
  20% {
    left: 4.5em;
    top: -4em;
  }
  50% {
    left: 4.5em;
    top: -3em;
  }
  100% {
    left: 4.5em;
    top: -4em;
  }
}
/*# sourceMappingURL=auglysing.css.map */