<header class="headcol-2">
    <nav class="topnav">
        <ul class="topmenu">
            <li><a href="../bread.html"><span class="icon-bread"></span> Bread</a></li>
            <li><a href="#"><span class="icon-starters"></span> Starters</a></li>
            <li><a href="#"><span class="icon-main_courses"></span> Main Courses</a></li>
            <li><a href="#"> <span class="icon-deserts"></span> Desserts</a></li>
            <li><a href="#"><span class="icon-glass2"></span> Drinks</a></li>
        </ul>
    </nav>
</header>